/* ?Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500&display=swap");

/* ?Universal Style  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ?Common / Utilities */

body {
  /* ?font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
}

hr {
  width: 80%;
}

/* ?Top Section Styles */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 1350px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  margin-top: 50px;
  border-radius: 30px;
}

.left-Section {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.header-title {
  font-size: 1.8rem;
  width: 531px;
  position: relative;
}

.earth {
  color: #dd0000;
}

.header-title::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid white;
  animation: shadow 7s steps(150) infinite;
  background: #161616;
  /* animation-fill-mode: forwards; */
}
@keyframes shadow {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}

.header-description {
  width: 506px;
  height: 78px;
}

.header-button {
  width: 150px;
  height: 56px;
  justify-content: center;
  display: flex;
  background-color: #dd0000;
  box-shadow: 0 0 10px #dd0000, 0 0 10px #dd0000, 0 0 80px #dd0000;
  column-gap: 8px;
  align-items: center;
  padding: 15px 0;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 500;
  color: white;
}

.header-button:hover {
  color: black;
  background: #3ccf4e;
  box-shadow: 0 0 10px #3ccf4e, 0 0 10px #3ccf4e, 0 0 80px #3ccf4e;
}

.header-button a {
  text-decoration: none;
  color: white;
}

.right-section {
  z-index: 1;
}

.right-section img {
  margin-top: 16px;
  height: 640px;
}

/* ?Main Section */

.main {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.nav-and-matches {
  width: 1350px;
  display: flex;
  column-gap: 25px;
}

.match-informations {
  align-items: center;
}

.navigation-menus {
  width: 312px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.navigation-menu {
  width: 252px;
  height: 64px;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  font-size: 20px;
  margin: 15px;
  border-radius: 10px;
  font-weight: 500;
}

.navigation-menu a {
  text-decoration: none;
  color: #161616;
}

#blog-menu {
  background-color: #dd0000;
}

#blog-menu a {
  color: white;
}

.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.match {
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.match:hover {
  transform: scale(1.1);
}

.match-photo img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.match-description {
  padding: 20px;
}

.transfer-button {
  width: 100px;
  height: 32px;
  /* border: 1px solid red; */
  background-color: #dd0000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.transfer-button a {
  text-decoration: none;
  font-weight: 500;
  /* color: black; */
  color: white;
}

.description {
  margin: 20px 0;
}

.match-logos {
  display: flex;
  align-items: center;
  column-gap: 30px;
  font-size: 16px;
}

.time-logo {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: #1363df;
}

.comment-logo {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: #f66b0e;
}

.view-all {
  display: none;
  width: 150px;
  height: 56px;
  background-color: #dd0000;
  padding: 15px 0;
  font-size: 15px;
  margin-top: 30px;
  border-radius: 5px;
}

.view-all a {
  text-decoration: none;
  color: white;
}

/* ?Footer Style */

.footer {
  margin-top: 50px;
  background-color: #161616;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-title {
  font-size: 40px;
  padding: 50px;
}

.footer-menu {
  display: flex;
  column-gap: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #b9b9b9;
  margin-top: 30px;
}

.social-icons {
  display: flex;
  column-gap: 25px;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.fa-brands {
  font-size: 20px;
  background-color: #003865;
  padding: 10px;
  color: white;
  border-radius: 50%;
}

.copy-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 600;
}

/* ?For Tablet Devices */

@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* ?Top Section Styles */

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-container {
    width: 735px;
    height: 398px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    margin-top: 50px;
    border-radius: 30px;
  }

  .left-Section {
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .header-title {
    font-size: 1rem;
    width: 298px;
  }

  .header-description {
    width: 300px;
    font-size: 0.8rem;
  }

  .header-button {
    width: 140px;
    height: 48px;
    justify-content: center;
    display: flex;
    background-color: #dd0000;
    column-gap: 8px;
    align-items: center;
    padding: 25px 0;
    font-size: 15px;
    border-radius: 5px;
  }

  .header-button a {
    text-decoration: none;
    color: white;
  }

  .right-section img {
    margin-top: 16px;
    height: 388px;
    margin-left: 15px;
  }

  /* ?Main Section */

  .main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-and-matches {
    width: 735px;
    display: flex;
    flex-direction: column;
  }

  .matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  .navigation-menus {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 20px 0 30px 0;
    column-gap: 30px;
  }
  .navigation-menu {
    border: 1px solid #b9b9b9;
    margin: 0;
  }

  .match-9 {
    display: none;
  }

  .view-all {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ?Footer Style */

  .footer-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    font-weight: 500;
    font-size: 1rem;
    color: #b9b9b9;
    margin-top: 30px;
    text-align: center;
    grid-template-areas:
      "c t p s"
      ". a l .";
  }
  .Contact {
    grid-area: c;
  }
  .Terms {
    grid-area: t;
  }
  .Privacy {
    grid-area: p;
  }

  .Settings {
    grid-area: s;
  }

  .App {
    grid-area: a;
  }

  .Live {
    grid-area: l;
  }
}

/* ?For Mobile Devices */

@media screen and (max-width: 576px) {
  /* ?Top Section Styles */
  .header {
    display: flex;
    justify-content: center;
  }

  .header-container {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    background-color: #161616;
    border-radius: 30px;
  }

  .left-Section {
    display: flex;
    row-gap: 5px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 15px 0;
  }

  .header-title {
    font-size: 12px;
    width: 228px;
  }

  .header-title::before {
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border: 0px solid white;
    animation: shadow 7s steps(100) infinite;
    background: #161616;
    animation-fill-mode: forwards;
  }
  @keyframes shadow {
    0% {
      top: 0%;
    }

    100% {
      top: 100%;
      opacity: 0;
    }
  }

  .header-description {
    width: 280px;
    font-size: 0.7rem;
    z-index: 1;
  }

  .header-button {
    width: 160px;
    height: 40px;
    background-color: #dd0000;
    font-size: 1rem;
    border-radius: 5px;
  }

  .header-button a {
    text-decoration: none;
    color: white;
  }

  .right-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .right-section img {
    height: 400px;
    width: 300px;
    display: block;
  }

  /* ?Main Section */

  .main {
    margin-top: 40px;
  }

  .nav-and-matches {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navigation-menus {
    width: 210px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navigation-menu {
    width: 160px;
    height: 48px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
  }

  .matches {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    margin-top: 30px;
  }

  #upcoming-match {
    width: 210px;
    height: 48px;
  }

  /* ?Footer Style */

  .footer-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #b9b9b9;
    margin-top: 30px;
  }
}
